[submodule "Prometheus/vendor/spdlog"]
	path = Prometheus/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Prometheus/vendor/GLFW"]
	path = Prometheus/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "Prometheus/vendor/imgui"]
	path = Prometheus/vendor/imgui
	url = https://github.com/TheCherno/imgui
